@charset "utf-8";
/* CSS Document */
/* This can be used to hide elements in HTML */
.hidden
{
	display: none;
}

html, body {

	height: 100%;
	font-size: 16px;
	background: url('../img/pattern.jpg') center center;
}
